<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-danger">
                <h4 class="card-title">Add User</h4>
            </div>
            <mat-tab-group class="card" animationDuration="5000" (selectedTabChange)="changeTab($event)">
                <mat-tab label="Add User">
                    <div style="height: auto;padding: 10px 0px 0px 30px;overflow: hidden;">
                        <form [formGroup]="UserRegistrationForm" novalidate>
                            <div class="row">
                                <h4><b>User Entry</b></h4>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input matInput placeholder="First Name" type="text" formControlName="firstName">
                                        <mat-error>
                                            {{errors.firstName}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input matInput placeholder="Last Name" type="text" formControlName="lastName">
                                        <mat-error>
                                            {{errors.lastName}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row" formGroupName="emailGroup">

                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input matInput placeholder="Email address" type="email" formControlName="email">
                                        <mat-error>
                                            {{errors.email}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input matInput placeholder="Confirm email address" type="email" formControlName="confirmEmail" [errorStateMatcher]="confirmValidParentMatcher">
                                        <mat-error>
                                            {{errors.confirmEmail}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                            </div>
                            <div class="row" formGroupName="passwordGroup">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input matInput placeholder="Password" type="password" formControlName="password">
                                        <mat-error>
                                            {{errors.password}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input matInput placeholder="Confirm password" type="password" formControlName="confirmPassword" [errorStateMatcher]="confirmValidParentMatcher">
                                        <mat-error>
                                            {{errors.confirmPassword}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <mat-form-field>
                                        <input matInput placeholder="PhoneNo Start With +91-" type="number" formControlName="phoneNo">
                                        <mat-error>
                                            {{errors.phoneNo}}
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6" style="margin-top: 3%;">
                                    <label style="padding: 4px;color: black">Employee Type: </label>
                                    <!-- If 1:Admin 2:Project manager,3: SiteEngg  -->
                                    <mat-radio-group formControlName="empTypeId">
                                        <!-- <mat-radio-button checked value="1">Admin</mat-radio-button> -->
                                        <mat-radio-button value="2">Project Manager</mat-radio-button>
                                        <mat-radio-button value="3">Site Engg</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <div class="row" style="padding: 4px;">
                                <div class="col-md-6">

                                    <mat-checkbox formControlName="isAdmin">is Admin</mat-checkbox>
                                </div>
                                <div class="col-md-6" style="margin-left: 83%;margin-bottom: 5%;">
                                    <mat-dialog-actions align="right">
                                        <button mat-stroked-button class="pull-right btn btn-danger" [disabled]="UserRegistrationForm.invalid" (click)="register()">Register</button>
                                        <!-- <button mat-stroked-button mat-dialog-close>Cancel</button> -->
                                    </mat-dialog-actions>
                                </div>
                            </div>

                            <!-- <div class="row" class="pull-right">
                                <mat-dialog-actions align="right">
                                    <button mat-stroked-button class="pull-right btn btn-danger" [disabled]="UserRegistrationForm.invalid" (click)="register()">Register</button>
                                </mat-dialog-actions>
                            </div> -->

                        </form>
                    </div>
                </mat-tab>
                <mat-tab label="Edit User Details" style="overflow: hidden;">

                    <div class="row mat-elevation-z12" style="padding: 2%;height: 100%" #TABLE>
                        <table id="tblUserDetail" mat-table #table [dataSource]="dataSource" matSort style="width:100%">
                            <ng-container matColumnDef="srNo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Sl.No </th>
                                <td mat-cell *matCellDef="let element;let i = index;">{{i+1}}</td>
                            </ng-container>

                            <ng-container matColumnDef="id">
                                <th mat-header-cell [style.display]="'none'" *matHeaderCellDef mat-sort-header> id </th>
                                <td mat-cell [style.display]="'none'" *matCellDef="let element"> {{element.id}}</td>
                            </ng-container>

                            <ng-container matColumnDef="empTypeId">
                                <th mat-header-cell [style.display]="'none'" *matHeaderCellDef mat-sort-header> empTypeId </th>
                                <td mat-cell [style.display]="'none'" *matCellDef="let element"> {{element.empTypeId}}</td>
                            </ng-container>

                            <ng-container matColumnDef="firstName">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name</th>
                                <td mat-cell *matCellDef="let element"> {{element.firstName}}</td>
                            </ng-container>

                            <ng-container matColumnDef="lastName">
                                <th style="width: 20%" mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
                                <td mat-cell *matCellDef="let element"> {{element.lastName}}</td>
                            </ng-container>

                            <ng-container matColumnDef="email">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                                <td mat-cell *matCellDef="let element">  {{element.email}} </td>
                            </ng-container>

                            <ng-container matColumnDef="phoneNo">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone No</th>
                                <td mat-cell *matCellDef="let element"> {{element.phoneNo}} </td>
                            </ng-container>

                            

                            <ng-container matColumnDef="isAdmin">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Admin</th>
                                <td mat-cell *matCellDef="let element"> {{element.isAdmin}} </td>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-button matTooltip="Edit" color="accent" (click)="startEdit(element.id,element.empTypeId,element.firstName,element.lastName,element.phoneNo,element.isAdmin)">
                                                                           <mat-icon>edit</mat-icon>
                                                                      </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 20,100,1000]" showFirstLastButtons></mat-paginator>

                    </div>
                </mat-tab>
            </mat-tab-group>

        </div>
        <div class="row" style="margin-left: 90%">
            <mat-dialog-actions align="right">
                <button mat-stroked-button mat-dialog-close>Close</button>
            </mat-dialog-actions>
        </div>
    </div>

</div>