<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2"> <button mat-raised-button (click)="openDialog()" color="primary">Add New Project +</button></div>
        </div>
        <div class="row">
                <div class="col-md-4">
                    <div class="card card-chart">
                        <div class="card-header card-header-success">
                            <div class="ct-chart" id="dailySalesChart"></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Projects Name</h4>
                            <p class="card-category">Project Value</p>
                            <p class="card-category">Commencement Date</p>
                            <p class="card-category">Completion Date</p>
                            <p class="card-category">Clients</p>
                            <p class="card-category">Location</p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> updated 4 minutes ago
                            </div>
                        </div>
                        <button mat-button  (click)="changePage()">Click</button> 

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-chart">
                        <div class="card-header card-header-success">
                            <div class="ct-chart" id="dailySalesChart"></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Projects Name</h4>
                            <p class="card-category">Project Value</p>
                            <p class="card-category">Commencement Date</p>
                            <p class="card-category">Completion Date</p>
                            <p class="card-category">Clients</p>
                            <p class="card-category">Location</p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> updated 4 minutes ago
                            </div>
                        </div>
                        <button mat-button  (click)="changePage()">Click</button> 

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-chart">
                        <div class="card-header card-header-success">
                            <div class="ct-chart" id="dailySalesChart"></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Projects Name</h4>
                            <p class="card-category">Project Value</p>
                            <p class="card-category">Commencement Date</p>
                            <p class="card-category">Completion Date</p>
                            <p class="card-category">Clients</p>
                            <p class="card-category">Location</p>
                        </div>
                        <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> updated 4 minutes ago
                            </div>
                        </div>
                        <button mat-button  (click)="changePage()">Click</button> 

                    </div>
                </div>
            </div>
        <div class="card">
            <div class="card-body">
                <div class="row">
                        <div class="col-sm-1">
                                <a mat-stroked-button routerLink=".">BOM</a>
                            </div>
                    <div class="col-sm-1">
                        <a mat-stroked-button routerLink=".">STAFF</a>
                    </div>
                 
                </div>
            </div>
        </div>




        
    </div>