<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2"> <button mat-raised-button (click)="openDialog()" color="primary">Add New Project +</button></div>
        </div>
        <div class="row">
            <div class="col-md-10"></div>
            <div class="col-md-2"> <button mat-raised-button (click)="showPMDialog()" color="primary">Add New Project Manager+</button></div>
        </div>
        <div class="row" >
            <div class="col-md-4" *ngFor="let item of lstProduct; let i = index">
                <div class="card card-chart" >
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                 
                    <div class="card-body">
                        <h3 class="card-title">{{item.projName}}</h3>
                        <p class="card-category">{{item.projDesc}}</p>
                        <p class="card-category">₹ {{item.projval}}</p>
                    </div>
                    <button mat-button matTooltip="Add More" (click)="changePage(item)">
                                 <mat-icon>add_box</mat-icon>
                                    </button>
                </div>
            </div>
            <!-- <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">RR Project</h4>
                        <p class="card-category">$50000.65</p>
                        <p class="card-category">12/Apr/2018</p>
                        <p class="card-category">16/Nov/2018</p>
                       
                    </div>
                    <button mat-button matTooltip="Add More" (click)="changePage()">
                                 <mat-icon>add_box</mat-icon>
                                    </button>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">McD Project</h4>
                        <p class="card-category">$50000.65</p>
                        <p class="card-category">12/Apr/2018</p>
                        <p class="card-category">16/Nov/2018</p>
                       
                    </div>
                    <button mat-button matTooltip="Add More" (click)="changePage()">
                                 <mat-icon>add_box</mat-icon>
                                    </button>

                </div>
            </div> -->
        </div>
        <mat-accordion *ngIf="isDisplayBOM">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        BOM
                    </mat-panel-title>
                    <mat-panel-description>
                        Enter BOM DATA
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div class="card-body">
                    <div class="row">
                        <!-- <div class="col-sm-1">
                                <button mat-raised-button color="primary">BOM</button>
                            </div> -->
                        <!-- <div class="col-sm-1">
                            <a mat-stroked-button matTooltip="Show more About Project" routerLink="." (click)="showMoreCompDtlsDialog()">Show More Project Details..</a>
                        </div> -->
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <h4><b>Piling </b></h4>
                        </div>
                        <div class="col-md-4">
                            <!-- <mat-radio-group>
                             <mat-radio-button value="1">Yes</mat-radio-button>
                            <mat-radio-button value="2">No</mat-radio-button> 
                        </mat-radio-group> -->
                            <mat-radio-group [(ngModel)]="selectedRadioBtn">
                                <mat-radio-button *ngFor="let a of arrayRadioBtn" [value]="a.name" (change)="radioChange($event)">
                                    {{a.name}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>

                    <div class="row" id="bom" *ngIf="isSelectedRadioBtnYes">

                        <div col-sm-4>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Item No." type="number">
                            </mat-form-field>
                        </div>
                        <div col-sm-4>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Description" type="text">
                            </mat-form-field>
                        </div>
                        <div col-sm-4>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Quantity" type="number">
                            </mat-form-field>
                        </div>
                        <div col-sm-4>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Unit" type="number">
                            </mat-form-field>
                        </div>
                        <div col-sm-4>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Rate" type="number">
                            </mat-form-field>
                        </div>
                        <div col-sm-4>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Amount" type="number">
                            </mat-form-field>
                        </div>
                        <div col-sm-4>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Status" type="text">
                            </mat-form-field>
                        </div>
                        <div col-sm-4>
                            <button mat-button matTooltip="save">
                                 <mat-icon>save</mat-icon>
                                 
                                    </button>
                        </div>
                        <div col-sm-4>
                            <button mat-button matTooltip="Add More pilling" (click)="addMorePilling()">
                                 <mat-icon>add_box</mat-icon>
                                    </button>
                        </div>

                        <div class="row" *ngIf="isAddMorePilling" style="padding: 4em!important">
                            <div col-sm-4>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Item No." type="number">
                                </mat-form-field>
                            </div>
                            <div col-sm-4>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Description" type="text">
                                </mat-form-field>
                            </div>
                            <div col-sm-4>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Quantity" type="number">
                                </mat-form-field>
                            </div>
                            <div col-sm-4>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Unit" type="number">
                                </mat-form-field>
                            </div>
                            <div col-sm-4>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Rate" type="number">
                                </mat-form-field>
                            </div>
                            <div col-sm-4>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Amount" type="number">
                                </mat-form-field>
                            </div>
                            <div col-sm-4>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Status" type="text">
                                </mat-form-field>
                            </div>
                            <div col-sm-4>
                                <button mat-button matTooltip="save">
                                 <mat-icon >save</mat-icon>
                                    </button>
                            </div>
                            <div col-sm-4>
                                <button mat-button matTooltip="Remove" (click)="removePilling()">
                                 <mat-icon>clear</mat-icon>
                                    </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <h4><b>Others </b></h4>
                        </div>
                    </div>
                    <div class="row" id="others">
                        <div col-sm-2>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Item No." type="number">
                            </mat-form-field>
                        </div>
                        <div col-sm-2>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Description" type="text">
                            </mat-form-field>
                        </div>
                        <div col-sm-2>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Quantity" type="number">
                            </mat-form-field>
                        </div>
                        <div col-sm-2>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Unit" type="number">
                            </mat-form-field>
                        </div>
                        <div col-sm-2>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Rate" type="number">
                            </mat-form-field>
                        </div>
                        <div col-sm-2>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Amount" type="number">
                            </mat-form-field>
                        </div>
                        <div col-sm-2>
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Status" type="text">
                            </mat-form-field>
                        </div>
                        <div col-sm-4>
                            <button mat-button matTooltip="save">
                                 <mat-icon>save</mat-icon>
                                 
                                    </button>
                        </div>

                    </div>

                </div>
            </mat-expansion-panel>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        STAFF
                    </mat-panel-title>
                    <mat-panel-description>
                        <!-- STAFF Is {{panelOpenState ? 'open' : 'closed'}} -->
                        Enter STAFF DATA
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <mat-form-field>
                    <input matInput placeholder="First name">
                </mat-form-field>

                <mat-form-field>
                    <input matInput placeholder="Age">
                </mat-form-field>
            </mat-expansion-panel>
        </mat-accordion>

        <mat-tab-group class="card" *ngIf="false" animationDuration="5000">
            <mat-tab label="BOM">
                <div>
                    <div class="card-body">

                        <div class="row">
                            <!-- <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Project Heading (disabled)" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Value (disabled)" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Completion Date (disabled)" disabled>
                                </mat-form-field>
                            </div> -->
                            <!-- <div class="col-sm-1">
                                <a mat-stroked-button routerLink=".">Show More..</a>
                            </div> -->
                        </div>

                        <div class="row">
                            <!-- <div class="col-sm-1">
                                <button mat-raised-button color="primary">BOM</button>
                            </div> -->
                            <div class="col-sm-1">
                                <a mat-stroked-button matTooltip="Show more About Project" routerLink="." (click)="showMoreCompDtlsDialog()">Show More Project Details..</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                <h4><b>Piling </b></h4>
                            </div>
                            <div class="col-md-4">
                                <!-- <mat-radio-group>
                             <mat-radio-button value="1">Yes</mat-radio-button>
                            <mat-radio-button value="2">No</mat-radio-button> 
                        </mat-radio-group> -->
                                <mat-radio-group [(ngModel)]="selectedRadioBtn">
                                    <mat-radio-button *ngFor="let a of arrayRadioBtn" [value]="a.name" (change)="radioChange($event)">
                                        {{a.name}}
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>

                        <div class="row" id="bom" *ngIf="isSelectedRadioBtnYes">

                            <div col-sm-4>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Item No." type="number">
                                </mat-form-field>
                            </div>
                            <div col-sm-4>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Description" type="text">
                                </mat-form-field>
                            </div>
                            <div col-sm-4>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Quantity" type="number">
                                </mat-form-field>
                            </div>
                            <div col-sm-4>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Unit" type="number">
                                </mat-form-field>
                            </div>
                            <div col-sm-4>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Rate" type="number">
                                </mat-form-field>
                            </div>
                            <div col-sm-4>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Amount" type="number">
                                </mat-form-field>
                            </div>
                            <div col-sm-4>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Status" type="text">
                                </mat-form-field>
                            </div>
                            <div col-sm-4>
                                <button mat-button matTooltip="save">
                                 <mat-icon>save</mat-icon>
                                 
                                    </button>
                            </div>
                            <div col-sm-4>
                                <button mat-button matTooltip="Add More pilling" (click)="addMorePilling()">
                                 <mat-icon>add_box</mat-icon>
                                    </button>
                            </div>

                            <div class="row" *ngIf="isAddMorePilling">
                                <div col-sm-4>
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Item No." type="number">
                                    </mat-form-field>
                                </div>
                                <div col-sm-4>
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Description" type="text">
                                    </mat-form-field>
                                </div>
                                <div col-sm-4>
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Quantity" type="number">
                                    </mat-form-field>
                                </div>
                                <div col-sm-4>
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Unit" type="number">
                                    </mat-form-field>
                                </div>
                                <div col-sm-4>
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Rate" type="number">
                                    </mat-form-field>
                                </div>
                                <div col-sm-4>
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Amount" type="number">
                                    </mat-form-field>
                                </div>
                                <div col-sm-4>
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Status" type="text">
                                    </mat-form-field>
                                </div>
                                <div col-sm-4>
                                    <button mat-button matTooltip="save">
                                 <mat-icon >save</mat-icon>
                                    </button>
                                </div>
                                <div col-sm-4>
                                    <button mat-button matTooltip="Remove" (click)="removePilling()">
                                 <mat-icon>clear</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <h4><b>Others </b></h4>
                            </div>
                        </div>
                        <div class="row" id="others">
                            <div col-sm-2>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Item No." type="number">
                                </mat-form-field>
                            </div>
                            <div col-sm-2>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Description" type="text">
                                </mat-form-field>
                            </div>
                            <div col-sm-2>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Quantity" type="number">
                                </mat-form-field>
                            </div>
                            <div col-sm-2>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Unit" type="number">
                                </mat-form-field>
                            </div>
                            <div col-sm-2>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Rate" type="number">
                                </mat-form-field>
                            </div>
                            <div col-sm-2>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Amount" type="number">
                                </mat-form-field>
                            </div>
                            <div col-sm-2>
                                <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Status" type="text">
                                </mat-form-field>
                            </div>


                        </div>

                    </div>
                </div>

            </mat-tab>
            <mat-tab label="STAFF">
                <h1>Some more tab content</h1>
                <p>...</p>
            </mat-tab>
        </mat-tab-group>



    </div>