.btn{
    background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}
.formBorder{
        border: 3px solid darkgray;
}
    .divOuterForm{
padding:200px;background: navajowhite;
    }

.container{
    background: sandybrown;
}
.loader-overlay {
    position: absolute;
    width: 100%; 
    top: 50%;
    left: 43%;
    opacity: 1;
    z-index: 500000;
}
.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #ff5722;
}
