.btn{
    background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}
/*.formBorder{
        border: 3px solid darkgray;
}*/
    .divOuterForm{

    margin: 0px auto;
    padding-top: 30px;
    padding-bottom: 10px;
    }

.container{
    background: #ddd;
    margin-top: 106px;
    width: 400px;
    padding: 23px;
    border-radius: 10px;

}
.loader-overlay {
    position: absolute;
    width: 100%; 
    top: 50%;
    left: 43%;
    opacity: 1;
    z-index: 500000;
}
.mat-progress-spinner circle, .mat-spinner circle {
    stroke: #ff5722;
}
