<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">Add new Project</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="ProjectAddForm" novalidate>
          <div class="row">
            <h4><b>Add Project</b></h4>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="project Name" type="text" formControlName="projName">
                <mat-error>
                  {{errors.projName}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="project Desc" type="text" formControlName="projDesc">
                <mat-error>
                  {{errors.projDesc}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="Enter Managerid as  5c21446351b1f00d74255334" type="text" formControlName="projManagerId">
                <mat-error>
                  {{errors.projManagerId}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="project Value in Rs" type="number" formControlName="projval">
                <mat-error>
                  {{errors.projval}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder=" Enter Commencement Date" type="date" formControlName="commenceDate">
                <mat-error>
                  {{errors.commenceDate}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder=" Enter completion Date" type="date" formControlName="completionDate">
                <mat-error>
                  {{errors.completionDate}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="client Name" type="text" formControlName="client">
                <mat-error>
                  {{errors.client}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="location Name" type="text" formControlName="location">
                <mat-error>
                  {{errors.location}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>


          <div class="row" class="pull-right">
            <mat-dialog-actions align="right">
              <button mat-stroked-button class="pull-right btn btn-danger" [disabled]="ProjectAddForm.invalid" (click)="addProject()">Add
                Project</button>
              <button mat-stroked-button mat-dialog-close>Cancel</button>
            </mat-dialog-actions>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>