<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">Add new Project</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="ProjectAddForm" novalidate>
          <div class="row">
            <h4><b>Add Project</b></h4>
          </div>
          <!-- <div class="row">
              <h3>Single emp selection</h3>
              <p>
              <mat-form-field>
                <mat-select [formControl]="empCtrl" placeholder="Emp" #singleSelectEmp>
                  <mat-option>
                    <ngx-mat-select-search [formControl]="empFilterCtrl"></ngx-mat-select-search>
                  </mat-option>

                  <mat-option *ngFor="let emp of filteredEmps | async" [value]="emp">
                    {{emp.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </p>
            <p>
              Selected emp: {{empCtrl.value?.name}}
            </p>
          </div> -->
          <div class="row">
            <h3>Single selection</h3>
            <p>
              <mat-form-field>
                <mat-select [formControl]="bankCtrl" placeholder="Bank" #singleSelect>
                  <mat-option>
                    <ngx-mat-select-search [formControl]="bankFilterCtrl"></ngx-mat-select-search>
                  </mat-option>

                  <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank">
                    {{bank.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </p>
            <p>
              Selected Bank: {{bankCtrl.value?.name}}
            </p>

          </div>
          <div class="row">

            <h3>Multiple selection</h3>
            <p>
              <mat-form-field>
                <mat-select [formControl]="bankMultiCtrl" placeholder="Banks" [multiple]="true" #multiSelect>
                  <ngx-mat-select-search [formControl]="bankMultiFilterCtrl"></ngx-mat-select-search>
                  <mat-option *ngFor="let bank of filteredBanksMulti | async" [value]="bank">
                    {{bank.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </p>
            <p>
              Selected Banks:
            </p>
            <!-- <ul *ngFor="let bank of bankMultiCtrl?.value">
              <li>{{bank.name}}</li>
            </ul> -->

          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="project Name" type="text" formControlName="projName">
                <mat-error>
                  {{errors.projName}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="project Desc" type="text" formControlName="projDesc">
                <mat-error>
                  {{errors.projDesc}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">



           

            <div class="col-md-6">
              <mat-form-field>
                <mat-select placeholder="select Project Manager" [(value)]="selectedValue" name="PMName">
                  <mat-option *ngFor="let PMName of lstPMName" [value]="PMName.id">
                    {{PMName.firstName}} {{PMName.lastName}}
                  </mat-option>
                </mat-select>
                <mat-error>
                  {{errors.projManagerId}}
                </mat-error>
              </mat-form-field>
            </div>


            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="project Value in Rs" type="number" formControlName="projval">
                <mat-error>
                  {{errors.projval}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder=" Enter Commencement Date" type="date" formControlName="commenceDate">
                <mat-error>
                  {{errors.commenceDate}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder=" Enter completion Date" type="date" formControlName="completionDate">
                <mat-error>
                  {{errors.completionDate}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="client Name" type="text" formControlName="client">
                <mat-error>
                  {{errors.client}}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <input matInput placeholder="location Name" type="text" formControlName="location">
                <mat-error>
                  {{errors.location}}
                </mat-error>
              </mat-form-field>
            </div>
          </div>


          <div class="row" class="pull-right">
            <mat-dialog-actions align="right">
              <button mat-stroked-button class="pull-right btn btn-danger" [disabled]="ProjectAddForm.invalid" (click)="addProject()">Add
                Project</button>
              <button mat-stroked-button mat-dialog-close>Cancel</button>
            </mat-dialog-actions>
          </div>

        </form>
      </div>
    </div>
  </div>

</div>