<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-danger">
        <h4 class="card-title">Projects</h4>
      </div>


      <mat-tab-group class="card" animationDuration="5000" (selectedTabChange)="changeTab($event)">
        <mat-tab label="Add Project">
          <div style="height: auto;padding: 10px 0px 0px 30px;overflow: hidden;">
            <form [formGroup]="ProjectAddForm" novalidate>
              <!-- <div class="row">
                <h4><b>Add Project</b></h4>
              </div> -->

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field>
                    <input matInput placeholder="project Name" type="text" formControlName="projName">
                    <mat-error>
                      {{errors.projName}}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field>
                    <input matInput placeholder="project Desc" type="text" formControlName="projDesc">
                    <mat-error>
                      {{errors.projDesc}}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>


              <div class="row">
                <div class="col-md-6">
                  <mat-form-field>
                    <input matInput placeholder=" Enter Commencement Date" type="date" formControlName="commenceDate">
                    <mat-error>
                      {{errors.commenceDate}}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field>
                    <input matInput placeholder=" Enter completion Date" type="date" formControlName="completionDate">
                    <mat-error>
                      {{errors.completionDate}}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field>
                    <input matInput placeholder="client Name" type="text" formControlName="client">
                    <mat-error>
                      {{errors.client}}
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <mat-form-field>
                    <input matInput placeholder="location Name" type="text" formControlName="location">
                    <mat-error>
                      {{errors.location}}
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="row">


                <div class="col-md-6">
                  <mat-form-field>
                    <input matInput placeholder="project Value in Rs" type="number" formControlName="projval">
                    <mat-error>
                      {{errors.projval}}
                    </mat-error>
                  </mat-form-field>
                </div>


                <div class="col-md-6">
                  <!-- <mat-form-field>
                    <mat-select placeholder="select Project Manager" [(value)]="selectedValue" name="PMName">
                      <mat-option *ngFor="let PMName of lstPMName" [value]="PMName.id">
                        {{PMName.firstName}} {{PMName.lastName}}
                      </mat-option>
                    </mat-select>
                    <mat-error>
                      {{errors.projManagerId}}
                    </mat-error>
                  </mat-form-field> -->
                  <mat-dialog-actions align="right">
                    <button mat-stroked-button class="pull-right btn btn-danger" [disabled]="ProjectAddForm.invalid" (click)="addProject()">Add
                Project</button>
                  </mat-dialog-actions>
                </div>
              </div>

              <!-- <div class="row" class="pull-right">
                <mat-dialog-actions align="right">
                  <button mat-stroked-button class="pull-right btn btn-danger" [disabled]="ProjectAddForm.invalid" (click)="addProject()">Add
                Project</button>
                  <button mat-stroked-button mat-dialog-close>Cancel</button>
                </mat-dialog-actions>
              </div> -->

            </form>
          </div>
        </mat-tab>
        <mat-tab label="Edit Project Details" style="overflow: hidden;">
          <div class="row mat-elevation-z12" style="padding: 2%;height: 100%" #TABLE>
            <table id="tblProjectDetail" mat-table #table [dataSource]="dataSource" matSort style="width:100%">
              <ng-container matColumnDef="srNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Sl.No </th>

                <td mat-cell *matCellDef="let element;let i = index;">{{i+1}}</td>
              </ng-container>

              <ng-container matColumnDef="id">
                <th mat-header-cell [style.display]="'none'" *matHeaderCellDef mat-sort-header> id </th>
                <td mat-cell [style.display]="'none'" *matCellDef="let element"> {{element.id}}</td>
              </ng-container>


              <ng-container matColumnDef="projName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> project Name </th>
                <td mat-cell *matCellDef="let element"> {{element.projName}}</td>
              </ng-container>


              <ng-container matColumnDef="projDesc">
                <th style="width: 20%" mat-header-cell *matHeaderCellDef mat-sort-header>project Desc</th>
                <td mat-cell *matCellDef="let element"> {{element.projDesc}}</td>
              </ng-container>


              <ng-container matColumnDef="projval">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>project val</th>
                <td mat-cell *matCellDef="let element"> ₹ {{element.projval}} </td>
              </ng-container>

              <ng-container matColumnDef="commenceDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>commence Date</th>
                <td mat-cell *matCellDef="let element"> {{element.commenceDate}} </td>
              </ng-container>
              <ng-container matColumnDef="completionDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>completion Date</th>
                <td mat-cell *matCellDef="let element"> {{element.completionDate}} </td>
              </ng-container>

              <ng-container matColumnDef="client">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Client</th>
                <td mat-cell *matCellDef="let element"> {{element.client}} </td>
              </ng-container>

              <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
                <td mat-cell *matCellDef="let element"> {{element.location}} </td>
              </ng-container>

              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-button matTooltip="Edit" color="accent" (click)="startEdit(element.id,element.projName,element.projDesc,element.projval,element.commenceDate,element.completionDate,element.client,element.location)">
                                                                           <mat-icon>edit</mat-icon>
                                                                      </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[3,5, 10, 20,100,1000]" showFirstLastButtons></mat-paginator>

          </div>
       
        </mat-tab>
        
      </mat-tab-group>
      
    </div>
     <div class="row" style="margin-left: 90%">
          <mat-dialog-actions align="right">
            <button mat-stroked-button mat-dialog-close>Cancel</button>
          </mat-dialog-actions>
        </div>
  </div>

</div>