<div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">Add new Pilling</h4>
        </div>
        <div class="card-body">
          <form [formGroup]="PillingAddForm" novalidate>
            <div class="row">
              <h4><b>Add Pilling</b></h4>
            </div>
            <div class="row">
            
              <div class="col-md-6">
                <mat-form-field>
                  <input matInput placeholder="Pilling ID as P1P1" type="text" formControlName="projPillingNo">
                  <mat-error>
                    {{errors.projPillingNo}}
                  </mat-error>
                </mat-form-field>
              </div>

                <div class="col-md-6">
                <mat-form-field>
                  <input matInput placeholder="pillingRigDetails" type="text" formControlName="pillingRigDetails">
                  <mat-error>
                    {{errors.pillingRigDetails}}
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="row" class="pull-right">
              <mat-dialog-actions align="right">
                <button mat-stroked-button class="pull-right btn btn-danger" [disabled]="PillingAddForm.invalid" (click)="addPilling()">Add
                  Project</button>
                <button mat-stroked-button mat-dialog-close>Cancel</button>
              </mat-dialog-actions>
            </div>
          </form>
        </div>
      </div>
    </div>
  
  </div>