<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-2">
        <button mat-button matTooltip="Back" (click)="backToProjectDetails()">
                                                                           <mat-icon>arrow_back</mat-icon>
                                                                      </button>
      </div>
      <div class="col-md-2">
        <button mat-button matTooltip="Add New Pilling" (click)="openDialog()">
                                                                           <mat-icon>add_circle</mat-icon>
                                                                      </button>
      </div>
      <div class="col-md-2">
        <button mat-button matTooltip="Bulk Upload +">
                                                                           <mat-icon>cloud_upload</mat-icon>
                                                                      </button>

      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2" *ngIf="lstSelectedProject.length>0">
        <button mat-button matTooltip="Export To Excel" (click)="ExportTOExcel()">
                                                                           <mat-icon>save_alt</mat-icon>
                                                                      </button>
      </div>
      <div class="col-md-2" *ngIf="lstSelectedProject.length>0">
        <button mat-button matTooltip="Export To Pdf" (click)="ExportToPDF()">
                                                                           <mat-icon>print</mat-icon>
                                                                      </button>
      </div>
    </div>
    <div class="row mat-elevation-z12" *ngIf="lstSelectedProject.length>0" #TABLE>

      <table id="tblPillingHistory" mat-table #table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="srNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sl.No </th>
          <!-- <td mat-cell *matCellDef="let element"> {{element.dateOfStarting.split('T')[0].split('+')[0]}}:{{element.dateOfStarting.split('T')[1].split('+')[0]}}</td> -->
          <td mat-cell *matCellDef="let element;let i = index;">{{i+1}}</td>
        </ng-container>

        <!-- pileNo Column -->
        <ng-container matColumnDef="pileNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Pile No </th>
          <td mat-cell *matCellDef="let element">
            <div routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
              <a routerLink="/projectrecording/{{element.pileNo}}" routerLinkActive="active-link">{{element.pileNo.split('-')[0]}}</a>
            </div>
          </td>
        </ng-container>

        <!-- dateOfStarting Column -->

        <ng-container matColumnDef="dateOfStarting">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Of Starting </th>
          <!-- <td mat-cell *matCellDef="let element"> {{element.dateOfStarting.split('T')[0].split('+')[0]}}:{{element.dateOfStarting.split('T')[1].split('+')[0]}}</td> -->
          <td mat-cell *matCellDef="let element"> {{element.dateOfStarting}}</td>
        </ng-container>

        <!-- dateOfEnding Column Details -->
        <ng-container matColumnDef="dateOfEnding">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Of Ending </th>
          <!-- <td mat-cell *matCellDef="let element"> {{element.dateOfEnding.split('T')[0].split('+')[0]}}:{{element.dateOfEnding.split('T')[1].split('+')[0]}}</td> -->
          <td mat-cell *matCellDef="let element"> {{element.dateOfEnding}}</td>
        </ng-container>
        <ng-container matColumnDef="NameofContractor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Name of Contractor</th>
          <td mat-cell *matCellDef="let element"> -- </td>
        </ng-container>
        <!-- pillingRigDetails Column  Details-->
        <ng-container matColumnDef="pillingRigDetails">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Pilling Rig Details</th>
          <td mat-cell *matCellDef="let element"> {{element.pillingRigDetails}} </td>
        </ng-container>
        <!-- diaOfPile Column  Details-->
        <ng-container matColumnDef="diaOfPile">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Dia Of Pile </th>
          <td mat-cell *matCellDef="let element"> {{element.diaOfPile}} </td>
        </ng-container>
        <ng-container matColumnDef="casingToplevel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Casing Top level </th>
          <td mat-cell *matCellDef="let element"> {{element.casingToplevel}} </td>
        </ng-container>
        <ng-container matColumnDef="existingToplevel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Existing Ground level</th>
          <td mat-cell *matCellDef="let element"> {{element.existingToplevel}} </td>
        </ng-container>
        
        
        <ng-container matColumnDef="pillingCutOfflevel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> cut Top level</th>
          <td mat-cell *matCellDef="let element"> {{element.pillingCutOfflevel}} </td>
        </ng-container>

        <ng-container matColumnDef="emptyBoreDepth">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Empty Bore Depth</th>
          <td mat-cell *matCellDef="let element"> {{element.existingToplevel - element.pillingCutOfflevel}} </td>
        </ng-container>
        
        <ng-container matColumnDef="foundinglevel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Founding Level</th>
          <td mat-cell *matCellDef="let element"> {{element.foundinglevel}} </td>
        </ng-container>
        <ng-container matColumnDef="BoredepthfromCTL">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Bore depth from CTL</th>
          <td mat-cell *matCellDef="let element"> {{element.pillingCutOfflevel - element.foundinglevel}} </td>
        </ng-container>

        <ng-container matColumnDef="BoredepthfromEGL">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Bore depth from EGL</th>
          <td mat-cell *matCellDef="let element"> {{element.existingToplevel  - element.foundinglevel}} </td>
        </ng-container>

        <ng-container matColumnDef="ConcreteQuantityCUM">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Concrete Quantity CUM (Actual)</th>
          <td mat-cell *matCellDef="let element"> {{element.concretePouringQty}} </td>
        </ng-container>

        <ng-container matColumnDef="Cagelengthrequired">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cage length required</th>
        
          <td mat-cell *matCellDef="let element">{{((element.foundinglevel - element.pillingCutOfflevel)-1.5)}} </td>
          
        </ng-container>
        
        <ng-container matColumnDef="ConcreteQuantityTherotical">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Concrete Quantity (Therotical)</th>
          <td mat-cell *matCellDef="let element">{{ (((3.142/4) * diaOfPile * diaOfPile/1000)/1000) * (casingToplevel - foundinglevel)*1.05}} </td>
        </ng-container>

        <ng-container matColumnDef="NoofTrimePiecesrequired">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>No of Trime Pieces required</th>
          <td mat-cell *matCellDef="let element"> {{(element.casingToplevel - element.foundinglevel)/1.5+1.5}} </td>
        </ng-container>

        <ng-container matColumnDef="TotalMnhoursPRC">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Mn hours PRC</th>
          <td mat-cell *matCellDef="let element"> {{(element.totalNoOfShiftsWorked  * element.noOfManpowerPRC)*10}} </td>
        </ng-container>
        

        <ng-container matColumnDef="TotalMnhoursCont">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Mn hours Cont</th>
          <td mat-cell *matCellDef="let element"> {{(element.totalNoOfShiftsWorked  * element.noOfManpowerContractor)*10}} </td>
        </ng-container>

        <ng-container matColumnDef="BoredepthfromCOL">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Bore depth from COL</th>
          <td mat-cell *matCellDef="let element"> {{element.casingToplevel   - element.foundinglevel}} </td>
        </ng-container>
        

        <ng-container matColumnDef="boringStartTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Boring Start Time</th>
          <td mat-cell *matCellDef="let element"> {{element.boringStartTime}} </td>
        </ng-container>

        <ng-container matColumnDef="boringEndTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Boring End Time</th>
          <td mat-cell *matCellDef="let element"> {{element.boringEndTime}} </td>
        </ng-container>

        <ng-container matColumnDef="depthOfBore">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Depth Of Bore</th>
          <td mat-cell *matCellDef="let element"> {{element.depthOfBore}} </td>
        </ng-container>

        <ng-container matColumnDef="totalBoringTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Total Boring Time</th>
          <td mat-cell *matCellDef="let element"> {{element.totalBoringTime}} </td>
        </ng-container>

        <ng-container matColumnDef="cageLoweringStartTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cage Lowering Start Time</th>
          <td mat-cell *matCellDef="let element"> {{element.cageLoweringStartTime}} </td>
        </ng-container>

        <ng-container matColumnDef="cageLoweringEndTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cage Lowering End Time</th>
          <td mat-cell *matCellDef="let element"> {{element.cageLoweringEndTime}} </td>
        </ng-container>

        <ng-container matColumnDef="totalTimeForCageLowering">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Time For Cage Lowering</th>
          <td mat-cell *matCellDef="let element"> {{element.totalTimeForCageLowering}} </td>
        </ng-container>

        <ng-container matColumnDef="concretePourStartTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Concrete Pour Start Time</th>
          <td mat-cell *matCellDef="let element"> {{element.concretePourStartTime}} </td>
        </ng-container>

        <ng-container matColumnDef="concretePourEndTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Concrete Pour End Time</th>
          <td mat-cell *matCellDef="let element"> {{element.concretePourEndTime}} </td>
        </ng-container>

        <ng-container matColumnDef="totalConcretePourTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Concrete Pour Time</th>
          <td mat-cell *matCellDef="let element"> {{element.totalConcretePourTime}} </td>
        </ng-container>

        <ng-container matColumnDef="noOfTrimePiecesUsed">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>No Of Trime Pieces Used</th>
          <td mat-cell *matCellDef="let element"> {{element.noOfTrimePiecesUsed}} </td>
        </ng-container>

        <ng-container matColumnDef="totalNoOfShiftsWorked">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Total No Of Shifts Worked</th>
          <td mat-cell *matCellDef="let element"> {{element.totalNoOfShiftsWorked}} </td>
        </ng-container>

        <ng-container matColumnDef="noOfManpowerPRC">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>No Of Man Power PRC</th>
          <td mat-cell *matCellDef="let element"> {{element.noOfManpowerPRC}} </td>
        </ng-container>
        <ng-container matColumnDef="noOfManpowerContractor">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>No Of Man Power Contractor</th>
          <td mat-cell *matCellDef="let element"> {{element.noOfManpowerContractor}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20,100,1000]" showFirstLastButtons></mat-paginator>

    </div>
  </div>
</div>