<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-2"> <button mat-raised-button (click)="openDialog()" color="primary">Add New Pilling +</button></div>
      <div class="col-md-2"> <button mat-raised-button  color="primary">Bulk Upload +</button></div>
    </div>
    <div class="row mat-elevation-z12"  *ngIf = "lstSelectedProject.length>0">

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z12">

        <!-- pileNo Column -->
        <ng-container matColumnDef="pileNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Pile No </th>
          <td mat-cell *matCellDef="let element"> {{element.pileNo.split('-')[0]}} </td>
        </ng-container>

        <!-- dateOfStarting Column -->

        <ng-container matColumnDef="dateOfStarting">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Of Starting </th>
          <td mat-cell *matCellDef="let element"> {{element.dateOfStarting.split('T')[0].split('+')[0]}}:{{element.dateOfStarting.split('T')[1].split('+')[0]}}</td>
        </ng-container>

        <!-- dateOfEnding Column -->
        <ng-container matColumnDef="dateOfEnding">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Of Ending </th>
          <td mat-cell *matCellDef="let element"> {{element.dateOfEnding.split('T')[0].split('+')[0]}}:{{element.dateOfEnding.split('T')[1].split('+')[0]}}</td>
        </ng-container>

        <!-- pillingRigDetails Column -->
        <ng-container matColumnDef="pillingRigDetails">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Pilling Rig Details </th>
          <td mat-cell *matCellDef="let element"> {{element.pillingRigDetails}} </td>
        </ng-container>
         <!-- diaOfPile Column -->
         <ng-container matColumnDef="diaOfPile">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Dia Of Pile </th>
            <td mat-cell *matCellDef="let element"> {{element.diaOfPile}} </td>
          </ng-container>
          <ng-container matColumnDef="casingToplevel">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> casing Top level </th>
            <td mat-cell *matCellDef="let element"> {{element.casingToplevel}} </td>
          </ng-container>
         
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

    </div>
  </div>
</div>