<div class="container">
  <!-- <h3 mat-dialog-title>Project id: {{data.id}}</h3> -->
 <h3 mat-dialog-title>Update BOM</h3>
  <form class="mat-dialog-content" style="height: 400px!important;" (ngSubmit)="UpdateBOM()" #formControl="ngForm">

     <div class="form">
      <mat-form-field color="accent">
        <input matInput #input class="form-control" type="text"  placeholder="description" [(ngModel)]="data.desc" name="desc" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="form">
      <mat-form-field color="accent">
        <input matInput  class="form-control" placeholder="rate" type="number" [(ngModel)]="data.rate" name="rate" (ngModelChange)="data.rate = $event" (blur)="changeBOMAmt()" required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

    <div class="form">
      <mat-form-field color="accent">
        <input matInput  class="form-control" placeholder="qty" type="number" [(ngModel)]="data.qty" name="qty" (ngModelChange)="data.qty = $event" (blur)="changeBOMAmt()"  required >
        <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>

   <div class="form">
      <mat-form-field color="accent">
        <input matInput  class="form-control" disabled placeholder="amount" type="number" [(ngModel)]="data.amount" name="amount"  required >
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <!-- <button mat-button [type]="submit" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="stopEdit()">Save</button>
      <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button> -->

<!-- 
      <button mat-stroked-button [type]="submit" class="pull-right btn btn-danger" [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="UpdateBOM()">Update
                </button> -->

                  <button mat-button type="submit" class="pull-right btn btn-danger"  [disabled]="!formControl.valid" [mat-dialog-close]="1" (click)="UpdateBOM()">Update</button>
              <button mat-stroked-button mat-dialog-close>Cancel</button>

    </div>
  </form>
</div>